.tasks-display-bg{
    display: flex;
    justify-content: center;
    background-color: rgba(237, 237, 237, 0.5);
    margin-top: 2em;
    padding: 1em;
    border-radius: 15px;
}

.task-display {
    width: 100%;
}

.task-list{
    background-color: red;
    height: 4em;
    overflow: auto;
}

.indv-task-box{
    width: 100%;
    background-color: goldenrod;
}

